[submodule "Dependencies/rpclib"]
	path = Dependencies/rpclib
	url = https://github.com/rpclib/rpclib
[submodule "Dependencies/Dependencies/rpclib"]
	path = Dependencies/Dependencies/rpclib
	url = https://github.com/rpclib/rpclib
[submodule "Base System"]
	path = Base System
	url = https://github.com/ashishkumar4/AnemoiLink.git
[submodule "Dependencies/msp"]
	path = Dependencies/msp
	url = https://github.com/christianrauch/msp.git
